<div id="container" padding-top-20 >
    <div class="heading">
        BANARAS SKILL DEVELOPMENT INDIA PVT.LIMITED ALLIANCES
    </div>
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12"  padding-top-20>
            <h4 class="space-cadet">TALLY SOLUTIONS PVT. LTD. :</h4>
            <div class="textWrap">
                Tally Solutions P. Ltd. is a premier software company in India. The number one software in India, Tally is the most preferred Business Accounting product for small and medium-sized businesses. In fact, according to International Data Corporation ( India), Tally’s market share is larger than all other Accounting software brands in India combined. 2 million users in 90 markets have experienced Tally’s power of simplicity. Tally Solutions continues expanding globally with offices in all major cities in India, London, Singapore, and Dubai. Today, Tally Solutions is one of the fastest-growing software companies in India, according to Data Quest. <a href="https://www.tallysolutions.com" target="blank"><u>www.tallysolutions.com</u></a>
        </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 img-align">
            <img class="img-padding" src="../../assets/image/alliances1.jpg">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 img-align">
            <img class="img-padding" src="../../assets/image/alliances2.jpg">
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12"  padding-top-20>
            <h4 class="space-cadet">NIELIT :</h4>
            <div class="textWrap">
                National Institute of Electronics & Information Technology (NIELIT), (erstwhile DOEACC Society), an Autonomous Scientific Society under the administrative control of Department of Electronics & Information Technology (DeitY), Ministry of Communications and Information Technology, Government of India, was set up to carry out Human Resource Development and related activities in the area of Information, Electronics & Communications Technology (ICT). NIELIT is engaged both in Formal & Non-Formal Education in the area of IECT besides the development of industry oriented quality education and training programs in the state-of-the-art areas. NIELIT has endeavored to establish standards to be the country’s premier institution for Examination and Certification in the field of ICT. It is also one of the National Examination Body, which accredits institutes/organizations for conducting courses in IT in the non-formal sector.
            </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12"  padding-top-20>
            <h4 class="space-cadet">RETAILERS ASSOCIATION’S SKILL COUNCIL OF INDIA ( RASCI) :</h4>
            <div class="textWrap">
                RASCI is a not-for-profit, independent public limited organization established under Section 25 of the Companies Act. RASCI has been funded by the Government of India along with Equity participation from Retailer’s Association of India, Reliance Retail Ltd., Future Retail India Ltd., Shoppers Stop Ltd., Globus Stores (P) Ltd., Trent Ltd., Infiniti Retail Ltd., and Connaught Plaza Restaurant (P) Ltd. to function as the Apex Skill Development Council for the Retail Industry. RASCI represents the retail industry in India. RASCI is a collaborative and comprehensive source of retail expertise and independent advice for industry, training organizations, educational institutions, certifying bodies, employees, students, or jobseekers about skills development in the retail industry.
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 img-align">
            <img class="img-padding" src="../../assets/image/alliances3.jpg">
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 img-align">
            <img class="img-padding" src="../../assets/image/alliances4.jpg">
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12"  padding-top-20>
            <h4 class="space-cadet">TELECOM SECTOR SKILL COUNCIL :</h4>
            <div class="textWrap">
                The Telecom Sector Skill Council (TSSC) is a Non-Profit Organization, registered under the Societies Registration Act, 1860. We are an industry-led apex body, jointly set up by The Cellular Operators Association of India (COAI), Indian Cellular Association (ICA) & Telecom Centres of Excellence (TCOE) to ensure adequate availability of skilled manpower to boost growth and productivity in the Telecom Sector. Set up under the aegis of the National Skill Development Corporation, TSSC has members from the various Telecom industries, Academia, Industry associations (such as COAI, ICA, AUSPI & TAIPA) and representation from the Government (DeitY) as well. <a href="http://www.tsscindia.com" target="blank"><u>www.tsscindia.com</u></a>
            </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12"  padding-top-20>
            <h4 class="space-cadet">FOOD INDUSTRY CAPCITY & SKILL INITIATIVE:</h4>
            <div class="textWrap">
                Food Industry Capacity & Skill Initiative (FICSI)—widely known as Food Processing Sector Skill Council—is a Not-for-Profit Organization, registered under the Societies Registration Act, 1860. The organization Promoted by the Federation of Indian Chambers of Commerce and Industry (FICCI) with financial support by National Skill Development Corporation (NSDC). <a href="http://www.ficsi.in" target="blank"><u>www.ficsi.in</u></a>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 img-align">
            <img class="img-padding" src="../../assets/image/alliances5.png">
        </div>
    </div>
</div>