<!--Main Navigation-->
<header>
 <div style="text-align: center;">
  <a routerLinkActive="active" routerLink="/home"><img class="img-responsive" src="../../assets/image/logo4.png" data-1x="../../assets/image/logo.png"></a><span class="text">Banaras Skill Development India Pvt. Ltd</span>
 </div>
  <nav class="navbar navbar-expand-lg navbar-dark scrolling-navbar space-cadet-dark-back">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" href="javascript:void(0)" routerLink="/home">HOME</a>
            </li>
            <li class="dropdown nav-item">
                  <a class="nav-link dropdown-toggle" [class.active]="router.isActive('/about', true) || router.isActive('/visionandmission', true) || router.isActive('/qualitypolicy', true) || router.isActive('/team', true) || router.isActive('/newupdates', true)"  id="dropdownMenuButton" data-toggle="collapse" aria-haspopup="true" aria-expanded="false">WHO WE ARE</a>
                  <div class="dropdown-menu" style="padding: 0; top: 82%;"aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" style="padding-left: 6px;" routerLinkActive="active1" routerLink="/about">About us</a>
                      <a class="dropdown-item" routerLinkActive="active1" style="padding-left: 6px;" routerLink="/visionandmission">Vision and Mission</a>
                      <a class="dropdown-item" routerLinkActive="active1" style="padding-left: 6px;" routerLink="/qualitypolicy">Quality Policy</a>
                      <a class="dropdown-item" routerLinkActive="active1" style="padding-left: 6px;" routerLink="/team">Our Team</a>
                      <a class="dropdown-item" routerLinkActive="active1" style="padding-left: 6px;" routerLink="/newupdates">News & Updates</a>
                  </div>
            </li>
            <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" [class.active]="router.isActive('/skillandtrain', true) || router.isActive('/consultancy', true) || router.isActive('/franchisee', true) || router.isActive('/softwaresolution', true)" id="dropdownMenuButton" data-toggle="collapse" aria-haspopup="true" aria-expanded="false" href="javascript:void(0)">SERVICES</a>
                  <div class="dropdown-menu" style="padding: 0; top: 82%;" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" routerLinkActive="active1" style="padding-left: 6px;" style="padding-left: 6px;" routerLink="/skillandtrain">Skilling & Training</a>
                      <a class="dropdown-item" routerLinkActive="active1" style="padding-left: 6px;" style="padding-left: 6px;" routerLink="/consultancy">Counsultancy Services</a>
                      <a class="dropdown-item" routerLinkActive="active1" style="padding-left: 6px;" style="padding-left: 6px;" routerLink="/franchisee">Franchisee Buisness</a>
                      <a class="dropdown-item" routerLinkActive="active1" style="padding-left: 6px;" style="padding-left: 6px;" routerLink="/softwaresolution">Software Solution</a>
                  </div>
            </li>
            <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" [class.active]="router.isActive('/newsEvents', true) || router.isActive('/photogallary', true) || router.isActive('/media', true)" id="dropdownMenuButton" data-toggle="collapse" aria-haspopup="true" aria-expanded="false" href="javascript:void(0)">GALLERY</a>
                  <div class="dropdown-menu" style="padding: 0; top: 82%;"aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" routerLinkActive="active1" style="padding-left: 6px;"  routerLink="/newsEvents">News and Events</a>
                      <a class="dropdown-item" routerLinkActive="active1" style="padding-left: 6px;"  routerLink="/photogallary">Photo Gallery</a>
                      <a class="dropdown-item" routerLinkActive="active1" style="padding-left: 6px;"  routerLink="/media">Media</a>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" href="javascript:void(0)" routerLink="/alliances">ALLIANCES</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" [class.active]="router.isActive('/centerGorakhpur', true) || router.isActive('/centerVaranasi', true) || router.isActive('/centerChandauli', true)" id="dropdownMenuButton" data-toggle="collapse" aria-haspopup="true" aria-expanded="false" href="javascript:void(0)">CENTERS</a>
                <div class="dropdown-menu" style="padding: 0; top: 82%;"aria-labelledby="dropdownMenuButton" >
                  <a class="dropdown-item" routerLinkActive="active1" style="padding-left: 6px;" routerLink="/centerGorakhpur">BANARAS SKILL DEVELOPMENT-GORAKHPUR</a>
                  <a class="dropdown-item" routerLinkActive="active1" style="padding-left: 6px;" routerLink="/centerVaranasi">BANARAS SKILL DEVELOPMENT-VARANASI</a>
                  <a class="dropdown-item" routerLinkActive="active1" style="padding-left: 6px;" routerLink="/centerChandauli">BANARAS SKILL DEVELOPMENT-CHANDAULI</a>
                </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/careers" routerLinkActive="active" href="#">CAREERS</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active"  href="javascript:void(0)" routerLink="/placement" href="#">PLACEMENT</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active"  href="javascript:void(0)" routerLink="/contact" href="#">CONTACT US</a>
            </li>
          </ul>
          <ul class="navbar-nav nav-flex-icons" style="flex-direction: row;">
            <li class="nav-item" style="padding-left:5px ;padding-right:5px" >
              <a class="btn-floating btn-tw nav-link" href="https://twitter.com/banaras_skill/status/1283821778033205248?s=20" target="blank"><i class="social-icon-twitter fa fa-twitter"></i></a>
            </li>
            <li class="nav-item" style="padding-left:5px ;padding-right:5px">
              <a class="nav-link" href="https://www.facebook.com/Banaras-Skill-Development-India-Pvt-Ltd-115789946876295/?modal=admin_todo_tour" target="blank"><i class="social-icon-facebook fa fa-facebook-f"></i></a>
            </li>
            <li class="nav-item" style="padding-left:5px ;padding-right:5px">
              <a class="nav-link"  href="https://wa.me/917054663366" target="blank"><i class="social-icon-whatsapp fa fa-whatsapp"></i></a>
            </li>
          </ul>
        </div>
    </div>    
  </nav>
</header>
  <!--Main Navigation-->