<!--Main Navigation-->
<header>
  <nav class="navbar navbar-expand-lg navbar-dark scrolling-navbar gunmetal">
    <div class="container">
         <a class="navbar-brand" href="#"><img src="../../assets/image/logo3.png" height="25" width="25"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <div class="dropdown">
                  <a class="nav-link" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" routerLink="/home" routerLinkActive="active">HOME</a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="margin-top: 7px;">
                      <a class="dropdown-item" routerLink="/about">About us</a>
                      <a class="dropdown-item" routerLink="/visionandmission">Vision and Mission</a>
                      <a class="dropdown-item" routerLink="/qualitypolicy">Quality Policy</a>
                      <a class="dropdown-item" routerLink="/team">Our Team</a>
                      <a class="dropdown-item" routerLink="/newupdates">News & Updates</a>
                  </div>
              </div>
            </li>
            <li class="nav-item">
              <div class="dropdown">
                  <a class="nav-link" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="javascript:void(0)">SERVICES</a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="margin-top: 7px;">
                      <a class="dropdown-item" routerLink="/skillandtrain">Skilling & Training</a>
                      <a class="dropdown-item" routerLink="/consultancy">Counsultancy Services</a>
                      <a class="dropdown-item" routerLink="/franchisee">Franchisee Buisness</a>
                      <a class="dropdown-item" routerLink="/softwaresolution">Software Solution</a>
                  </div>
              </div>
            </li>
            <li class="nav-item">
              <div class="dropdown">
                  <a class="nav-link" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="javascript:void(0)">GALLERY</a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="margin-top: 7px;">
                      <a class="dropdown-item" routerLink="/skillandtrain">News and Events</a>
                      <a class="dropdown-item" routerLink="/photogallary">Photo Gallery</a>
                      <a class="dropdown-item" routerLink="/franchisee">Media</a>
                      <a class="dropdown-item" routerLink="/softwaresolution">Coming Soon</a>
                  </div>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="javascript:void(0)" routerLink="/alliances">ALLIANCES</a>
            </li>
            <li class="nav-item">
              <div class="dropdown">
                <a class="nav-link" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="javascript:void(0)">CENTERS</a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="margin-top: 7px;">
                <a class="dropdown-item" routerLink="/skillandtrain">BANARAS SKILL DEVELOPMENT-GORAKHPUR</a>
                <a class="dropdown-item" routerLink="/consultancy">BANARAS SKILL DEVELOPMENT-VARANASI</a>
                <a class="dropdown-item" routerLink="/franchisee">BANARAS SKILL DEVELOPMENT-CHANDAULI</a>
            </div>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">CAREERS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">CONTACT US</a>
            </li>
          </ul>
        <ul class="navbar-nav nav-flex-icons" style="flex-direction: row;">
            <li class="nav-item" style="padding-left:5px" >
              <a class="nav-link"><i class="fa fa-facebook-f"></i></a>
            </li>
            <li class="nav-item" style="padding-left:5px">
              <a class="nav-link"><i class="fa fa-twitter"></i></a>
            </li>
            <li class="nav-item" style="padding-left:5px">
              <a class="nav-link"><i class="fa fa-instagram"></i></a>
            </li>
            <li class="nav-item" style="padding-left:5px">
              <a class="nav-link"><i class="fa fa-linkedin"></i></a>
            </li>
            <li class="nav-item" style="padding-left:5px">
              <a class="nav-link"><i class="fa fa-youtube"></i></a>
            </li>
          </ul>
        </div>
    </div>    
  </nav>
</header>
  <!--Main Navigation-->