<div id="container" padding-top-20 >
    <div class="heading">
        CONSULTANCY SERVICES
    </div>
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12"  padding-top-20>
            <div class="textWrap">
                On the back of its rich experience in IT Education & Training and association with leading companies and organizations, Banaras Skill has accumulated vast experience & expertise in this field. The dedicated team at Banaras Skill is continuously working on dedivvering quality education to students through constantly improved processes. These include quality manpower, infrastructure & courseware. Each function at the education delivery mechanism is executed to deliver the best services.
Banaras Skill provides consultancy to Academic Institutes to establish and run courses in various sectors. The range of services includes an arrangement of Franchise, Centre establishment, Faculty Training, Training to Marketing Team, Courseware supply, Online Testing & Certification, Industry Exposure & Placement Services. The objective is to ensure the Academic Institute runs successfully with a focused approach towards quality in delivery & processes.
        </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <img class="img-padding" src="../../assets/image/consultancy.jpg">
        </div>
    </div>
</div>