<div id="container" padding-top-20 >
    <div class="heading">
        About Us
    </div>
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12"  padding-top-20>
            <h4 class="space-cadet">BANARAS SKILL DEVELOPMENT INDIA PRIVATE LIMITED</h4>
            <div class="textWrap">
                Banaras Skill Development India Private Limited company, is present in EDUCATION & TRAINING – Vocational Training, Job-oriented courses, Skill Development Training, Govt. Training Projects & Corporate Training; IT SERVICES – Financial & Inventory Management Software for Businesses & Web-based Solutions for Training & Assessment; CONSULTANCY – Franchise Services to Training & Education Centres and has a Pan India presence. The courses in Information Technology, Computer Accounting, Finance & Banking, Soft-skills & Skill Development are provided to individuals aspiring to pursue a career in their chosen field. These courses are available at company-owned centers and authorized partner centers. The Corporate Training division of the company is capable to deliver customized training to organizations in the area of IT, Computerized Accounting, Finance & Soft-skills.
            </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12"  padding-top-20>
            <h4 class="space-cadet">SKILLEIDOSCOPE</h4>
            <div class="textWrap">
                More number of industries we cater to, more number of youth can be absorbed in the economy.
                Greater the diversity of languages we address, the deeper the geographies we can penetrate in and wider the demographics we can touch upon.
                At Banaras Skill, we closely monitor the marketplace, design, and develop courses across a host of disciplines to cater to the diverse demands of different industries, geographies, and cultural nuances.
                Not only are we raising the standards through our courseware, but we are also ensuring a high degree of standardization across centers.
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <img class="img-padding" src="../../assets/image/about.jpg">
        </div>
    </div>
</div>