<div id="container" padding-top-20 >
    <div class="heading">
        VISION AND MISSION
    </div>
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12"  padding-top-20>
            <h4 class="space-cadet">VISION</h4>
            <div class="textWrap">
                To enable ‘Learning’ bring a visible & positive impact to individuals & organizations. To be the reliable ‘Solution Providers’ for individuals seeking skill enhancement for employability.
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <img class="img-padding" src="../../assets/image/vission-misson.jpg">
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12"  padding-top-20>
            <h4 class="space-cadet">MISSION</h4>
            <div class="textWrap">
                Banaras Skill was founded to provide cost-effective & result-oriented services in Education & Training, in consonance with it’s slogan – Excel with Technology , Empower with Education. We strive to become a leading organization providing skill-enhancement training to individuals & training solutions to organizations. To achieve this, we ensure selection of right talent & constant grooming & motivation for self-satisfaction & improvement, make available facilities which enable efficient & productive output from team members & taking care of customers by satisfying their needs in totality.
            </div>
        </div>
    </div>
</div>