<div id="container" padding-top-20 >
    <div class="heading">
        CORPORATE QUALITY POLICY
    </div>
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12"  padding-top-20>
            <h4 class="space-cadet">Banaras Skill Development India Private Ltd. will meet its statement of mission by:</h4>
            <li class="textWrap">
                Committing to provide Quality Education, Training and related services to the students/customers/partners in the &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;areas of Information Technology/Accounts & Finance/Management/Soft-Skills, ensuring customer delight and &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;satisfaction of interested parties.
            </li>
            <li class="textWrap">
                Involving industry in both the Development and Evolution of our training programs and courses.
            </li>
            <li class="textWrap">
                Ensuring that programs and services are designed and implemented with a commitment to meeting student/customer requirements.
            </li>
            <li class="textWrap">
                Ensuring that standards are maintained and improved by active monitoring, reviewing and improving all activities.
            </li>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <img class="img-padding" src="../../assets/image/policy.png">
        </div>
    </div>
</div>