<div id="container" padding-top-20 >
    <div class="heading">
        SOFTWARE SOLUTIONS
    </div>
    <div class="row">
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12"  padding-top-20>
            <div class="textWrap">
                The technological leadership of Banaras Skill, in creating software solutions is a direct function of its expertise proven in the field of Information Technology. Banaras Skill has a high power design team working at its system design and architecture hub. And thanks to Banaras Skill’s well-connected network, its customers benefit from their expertise.
                Banaras Skill has been developing Internet & Software applications and training professionals on various high-end techniques, web-based programming, and e-commerce technologies. To meet the growing demands of its Clientele, Banaras Skill has independent software development facilities. It has transformed Information Technology into a business resource to give a strategic advantage to its clients and help them achieve excellence in the market place.
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <img class="img-padding" src="../../assets/image/slide9.jpg">
        </div>
    </div>
</div>