<div class="container" padding-top-20>
	<div class="row">
	
	<!--team-1-->
	<div class="col-lg-4">
	<div class="our-team-main">
	
	<div class="team-front">
	<img src="http://placehold.it/110x110/9c27b0/fff?text=V" class="img-fluid" />
	<h3>Ms. Veena Verma</h3>
	<p>Head – Standards & Quality Assurance</p>
	</div>
	
	</div>
	</div>
	<!--team-1-->
	
   <!--team-2-->
   <div class="col-lg-4">
      <div class="our-team-main">
      
      <div class="team-front">
      <img src="http://placehold.it/110x110/607d8b/fff?text=A" class="img-fluid" />
      <h3>Mr. Ayush Kumar</h3>
      <p>Head – Finance and Administration</p>
      </div>
      
      </div>
      </div>
	<!--team-2-->
	
	<!--team-3-->
   <div class="col-lg-4">
      <div class="our-team-main">
      
      <div class="team-front">
      <img src="http://placehold.it/110x110/4caf50/fff?text=G" class="img-fluid" />
      <h3>Mr. Gurvinder Singh</h3>
      <p>Manager - Corporate Matters and Projects</p>
      </div>
      
      </div>
      </div>
	<!--team-3-->
	
   <!--team-4-->
   
   <div class="col-lg-4">
      <div class="our-team-main">
      
      <div class="team-front">
      <img src="http://placehold.it/110x110/e91e63/fff?text=S" class="img-fluid" />
      <h3>Ms. Shanti D.</h3>
      <p>Lead – Operations</p>
      </div>
      
      </div>
      </div>
	<!--team-4-->
	
	<!--team-5-->
   <div class="col-lg-4">
      <div class="our-team-main">
      
      <div class="team-front">
      <img src="http://placehold.it/110x110/2196f3/fff?text=V" class="img-fluid" />
      <h3>Mr. Vijay Kumar Gupta</h3>
      <p>Sr. Executive - Operations & Compliance</p>
      </div>
      
      </div>
   </div>
	<!--team-5-->
	
	<!--team-6-->
	<div class="col-lg-4">
	<div class="our-team-main">
	
	<div class="team-front">
	<img src="http://placehold.it/110x110/9c27b0/fff?text=A" class="img-fluid" />
	<h3>Mr. Anand Thakur</h3>
	<p>Sr. Executive Officer – Operations and IT</p>
	</div>
	
	</div>
   </div>
   
   <div class="col-lg-4">
      <div class="our-team-main">
      
      <div class="team-front">
      <img src="http://placehold.it/110x110/2196f3/fff?text=R" class="img-fluid" />
      <h3>Mr. Rajan Yadav</h3>
      <p>Assistant Manager - Standards, Quality Assurance & Programmes</p>
      </div>
      
      </div>
   </div>

   <div class="col-lg-4">
      <div class="our-team-main">
      
      <div class="team-front">
      <img src="http://placehold.it/110x110/336699/fff?text=S" class="img-fluid" />
      <h3>Mr. Sudhanshu Jaiswal</h3>
      <p>Executive Officer – HR and Standard & Quality Assurance</p>
      </div>
      
      </div>
   </div>