
<div style="padding: 0">   
    <ngb-carousel [interval]="5000">
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img class="img1" src="../../assets/image/carousal5.jpg" alt="Random first slide">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img class="img1" src="../../assets/image/carousal2.jpg" alt="Random second slide">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img class="img1" src="../../assets/image/carousal3.jpg" alt="Random third slide">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img class="img1" src="../../assets/image/carousal4.jpg" alt="Random third slide">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img class="img1" src="../../assets/image/carousal1.jpg" alt="Random third slide">
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img class="img1" src="../../assets/image/carousal6.jpg" alt="Random third slide">
        </div>
      </ng-template>
    </ngb-carousel>
    <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="space-around center" fxLayoutGap="25px" style="padding: 20px 15px 0 15px;" >
    <div *ngFor="let member of members;let indexOfelement=index;" fxFlex="calc(25%-25px)" fxFlex.sm="calc(50%-25px)" class="card-style" >
        <div class="card-hover">
          <div class="overlay"></div>
            <img [src]="member.url" alt="Photo of {{member.title}}">
            <div class="button" (click)="navigateTo(indexOfelement)"><a href="javascript:void(0)"> Know more </a>
            </div>
        </div>
    </div>
    </div>
</div>